p
  | Lumosity is very polished brain training game thats aims to improve your 
  | mental ability through a variety of different mental tasks.
p
  | This game does offer absorbing and engaging gameplay that will keep you 
  | coming back again and again.
a(href="https://itunes.apple.com/gb/app/lumosity-mobile/id577232024?mt=8").btn View App