p
  | Creating a follow up up to the classic Cut The Rope game is no easy feat, 
  | however Zepto seem to taken it in their stride here and have created another 
  | classic.
p
  | The great illustration and animation you would expect has been packed together 
  | with varying game play through a collection of worlds each bringing a new 
  | ‘power’ of its own.
a(href="") View app