p
  | Built by the ever admirable 
  a(href="http://www.elepath.com/") Elepath. 
  | Thinglist is a todo list app focused around categories, to quickly take notes 
  | when someone mentions something of internest in conversionation whether thats 
  | "A strange new restaurant. A book with a nice cover. A far-out dancer."
p
  | A simple layout aids a very enjoy experience and while it lacks more advanced 
  | features, I've never found myself to notice.