a.btn,
.btn
  padding 15px 30px
  margin-right 10px
  border-radius 4px
  display inline-block
  background-color rgba(0, 0, 0, 0.2)
  color #fff
  font-size 18px
  font-weight 800
  transition background-color 1s

a.btn:hover,
.btn:hover
  background-color rgba(0, 0, 0, 0.2)