.review
  display block
  overflow hidden

.review--text--dark
  color #454545
  a
    color #454545
    font-style italic

.review--text--light
  color #ffffff
  a
    color #ffffff
    font-style italic
  a.btn
  .btn
    background-color rgba(350, 350, 350, 0.2)

.flex-control-nav
.flex-direction-nav
  display none

.slides
  overflow hidden

@media screen and (max-width: 700px)
  .review__image__wrapper
    display block
    margin 0 auto
    width 182px

// @media screen and (min-width: 1037px)
  