.review
  display block
  overflow hidden

.review__images
  width responsive(460, 940)
  margin-right responsive(20, 940)
  background red
  float left

.review__desc
  width responsive(460, 940)
  float left