extends layout
block content
  .container.home
    //- header.header
    //-   .wrapper
    //-     a(href="/") Home
    //-     a(href="/#tags") Tags
    //-     a(href="/#submit") Submit

    section.landing
      .wrapper
        h1.landing-header Appinionated
        p.landing-desc
          | We feature only the best designed apps 
          | &amp; games for the iPhone and iPad.

        .follow-btn
          a(href="https://twitter.com/appinionated_", data-show-count="false", data-lang="en").twitter-follow-button Follow @appinionated_

        .social-links
          .fb-like(data-href="http://www.appinionated.co.uk/", data-colorscheme="light", data-layout="button_count", data-action="like", data-show-faces="false", data-send="false")
          a(href="https://twitter.com/share", data-url="http://www.appinionated.co.uk/", data-via="appinionated_").twitter-share-button Tweet

        p
          a(href="mailto:submit@appinionated.co.uk?subject=Here's%20my%20app&body=Remember to send us a redeem code if it's a priced app.").mail-to
            |Send us your app

      .keyboard-nav
        .up
          i.icon-arrow-up
        .left
        .down
          i.icon-arrow-down
        .right

      a(href="/#tall-chess").phone--top
      a(href="/#thinglist").phone--bottom
      .arrow-down.js-review-first

    section(data-hex="fcfc02", id="rechner").review.review--portrait.review--text--dark.review--phone--dark
      .wrapper
        .review__images
          .review__image__wrapper
            ul.slides
              li
                img(src="/imgs/rechner/rechner-1.jpg")
              li
                img(src="/imgs/rechner/rechner-2.jpg")
              li
                img(src="/imgs/rechner/rechner-3.jpg")
        .review__desc
          h2 Rechner
          p
            | Touted as "the world's first gesture based calculator" Rechner uses 
            | swipe gestures to trigger mathematical operations. Swipe left for 
            | addition, right for subtraction.
          p
            | Designed by 
            a(href="http://bergerfohr.com/") Berger & F&ouml;hr, 
            | the only changed I'd like to see them add would be the option to add 
            | your own custom color.
          a(href="https://itunes.apple.com/us/app/rechner-calculator/id508837827?mt=8", target="_blank", onclick="_gaq.push(['_trackEvent','app_link','Rechner'])").btn View app

    section(data-hex="e83e40", id="film-alphabets").review.review--portrait.review--text--light.review--phone--dark
      .wrapper
        .review__images
          .review__image__wrapper
            ul.slides
              li
                img(src="/imgs/film-alphabets/film-alphabets-1.png")
              li
                img(src="/imgs/film-alphabets/film-alphabets-2.png")
              li
                img(src="/imgs/film-alphabets/film-alphabets-3.png")
        .review__desc
          h2 Film Alphabets
          p
            | Built by 
            a(href="http://www.wildishandco.co.uk/") Wildish 
            | &amp; 
            a(href="http://www.synthmedia.co.uk/") Synth Media, 
            | Film Alphabets quizzes your movie knowledge of different decades and 
            | genres with custom illustrations of an A to Z selection of that area. 
          p
            | Using an hangman style guessing mechanic, Film Alphabets offers fun 
            | gameplay for all age ranges.
          a(href="https://itunes.apple.com/gb/app/film-alphabets/id661150816?mt=8", target="_blank", onclick="_gaq.push(['_trackEvent','app_link','Film Alphabets'])").btn View app



    section(data-hex="86ad46", id="tall-chess").review.review--portrait.review--text--light.review--phone--light
      .wrapper
        .review__images
          .review__image__wrapper
            ul.slides
              li
                img(src="/imgs/tall-chess/tall-chess-1.png")
              //- li
              //-   img(src="/imgs/tall-chess/tall-chess-2.png")
        .review__desc
          h2 Tall Chess
          p
            | A beautiful and simple multiplayer chess game, Balitmore&#8217;s 
            a(href="http://friendsoftheweb.com/") Friends of the Web, 
            | have hand crafted each individual Chess piece and matched them with 
            | superb animations that will keep you playing for hours.
          a(href="https://itunes.apple.com/gb/app/tall-chess/id635361464?mt=8", target="_blank", onclick="_gaq.push(['_trackEvent','app_link','Tall Chess'])").btn View app


    section(data-hex="1cb0f6", id="duolingo").review.review--portrait.review--text--light.review--phone--dark
      .wrapper
        .review__images
          .review__image__wrapper
            ul.slides
              li
                img(src="/imgs/duolingo/duolingo-1.jpg")
              li
                img(src="/imgs/duolingo/duolingo-2.jpg")
              li
                img(src="/imgs/duolingo/duolingo-3.jpg")
              li
                img(src="/imgs/duolingo/duolingo-4.jpg")
        .review__desc
          h2 Duolingo
          p
            | Offering free courses in Spanish, English, French, German, Portuguese, 
            | Italian. Duolingo creates a gamified experience for learning a new 
            | language, incorporating speaking, writing and listening for a well 
            | rounded learning experience.
          a(href="https://itunes.apple.com/gb/app/duolingo-learn-languages-for/id570060128?mt=8", target="_blank", onclick="_gaq.push(['_trackEvent','app_link','Duolingo'])").btn View App


