extends layout
block content
  .container.home
    section.landing
      .wrapper
        h1.landing-header Appinionated
        p.landing-desc We aim to bring you short and concise reviews on only well designed apps for the iPhone.
      .phone--top
      .phone--bottom
      .arrow-down.js-review-first

    section.review(data-hex="514b56")
      .wrapper
        .review__images
          ul.slides
            li
              img(src="/imgs/random-heros-2/1.png")
        .review__desc
          h2 Random Heros 2
          p
            | Donec sed odio dui. Maecenas sed diam eget risus varius blandit sit 
            | amet non magna. Curabitur blandit tempus porttitor. Nulla vitae elit 
            | libero, a pharetra augue.
          p
            | Nulla vitae elit libero, a pharetra augue. Curabitur blandit tempus 
            | porttitor. Etiam porta sem malesuada magna mollis euismod. Etiam porta 
            | sem malesuada magna mollis euismod.

    section.review(data-hex="34343f")
      .wrapper
        .review__images
          ul.slides
            li
              img(src="/imgs/thinglist/1.png")
            li
              img(src="/imgs/thinglist/2.png")
        .review__desc
          h2 Thinglist
          p
            | Nullam quis risus eget urna mollis ornare vel eu leo varius blandit sit 
            | amet non magna. Curabitur blandit tempus porttitor. Vitae elit mollis
            | libero, a pharetra augue.
          p
            | Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. 
            | Nullam quis risus eget urna mollis ornare vel eu leo. Nullam quis risus 
            | eget urna mollis ornare vel eu leo. Etiam porta sem malesuada magna mollis 
            | euismod. Fusce dapibus, tellus ac cursus commodo.

    section.review(data-hex="D52D39")
      .wrapper
        .review__images
          ul.slides
            li
              img(src="/imgs/pudding-monsters/1.png")
            li
              img(src="/imgs/pudding-monsters/2.png")
            li
              img(src="/imgs/pudding-monsters/3.png")
        .review__desc
          h2 Pudding Monsters
          p
            | Nullam quis risus eget urna mollis ornare vel eu leo varius blandit sit 
            | amet non magna. Curabitur blandit tempus porttitor. Vitae elit mollis
            | libero, a pharetra augue.
          p
            | Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. 
            | Nullam quis risus eget urna mollis ornare vel eu leo. Nullam quis risus 
            | eget urna mollis ornare vel eu leo. Etiam porta sem malesuada magna mollis 
            | euismod. Fusce dapibus, tellus ac cursus commodo.