extends layout
block content
  .container.home
    //- header.header
    //-   .wrapper
    //-     a(href="/") Home
    //-     a(href="/#tags") Tags
    //-     a(href="/#submit") Submit

    section.landing
      .wrapper
        h1.landing-header Appinionated
        p.landing-desc
          | Bringing you short and concise reviews on only the best designed apps 
          | &amp; games for the iPhone and iPad.

        .follow-btn
          a(href="https://twitter.com/appinionated_", data-show-count="false", data-lang="en").twitter-follow-button Follow @appinionated_

        p
          a(href="mailto:submit@appinionated.co.uk?subject=Here's%20my%20app&body=Remember to send us a redeem code if it's a priced app.").mail-to
            |Send us your app

      .keyboard-nav
        .up
          i.icon-arrow-up
        .left
        .down
          i.icon-arrow-down
        .right

      a(href="/#tall-chess").phone--top
      a(href="/#thinglist").phone--bottom
      .arrow-down.js-review-first

    //- section(data-hex="08302d", id="sword-and-sorcery").review.review--text--light.review--landscape
    //-   .wrapper
    //-     .review__images
    //-       .review__image__wrapper
    //-         ul.slides
    //-           li
    //-             img(src="/imgs/sword-and-sorcery/IMG_1497.PNG")
    //-           li
    //-             img(src="/imgs/sword-and-sorcery/IMG_1500.PNG")
    //-           li
    //-             img(src="/imgs/sword-and-sorcery/IMG_1502.PNG")
    //-           li
    //-             img(src="/imgs/sword-and-sorcery/IMG_1515.PNG")
    //-           li
    //-             img(src="/imgs/sword-and-sorcery/IMG_1516.PNG")
    //-     .review__desc
    //-       h2 Sword and Sorcery
    //-       p
    //-         | Donec sed odio dui. Maecenas sed diam eget risus varius blandit sit 
    //-         | amet non magna. Curabitur blandit tempus porttitor. Nulla vitae elit 
    //-         | libero, a pharetra augue.
    //-       p
    //-         | Nulla vitae elit libero, a pharetra augue. Curabitur blandit tempus 
    //-         | porttitor. Etiam porta sem malesuada magna mollis euismod. Etiam porta 
    //-         | sem malesuada magna mollis euismod.
    //-       a(href="#").btn View App

    //- section(data-hex="514b56", id="random-heros-2").review.review--text--light.review--landscape
    //-   .wrapper
    //-     .review__images
    //-       .review__image__wrapper
    //-         ul.slides
    //-           li
    //-             img(src="/imgs/random-heros-2/1.PNG")
    //-     .review__desc
    //-       h2 Random Heros 2
    //-       p
    //-         | Donec sed odio dui. Maecenas sed diam eget risus varius blandit sit 
    //-         | amet non magna. Curabitur blandit tempus porttitor. Nulla vitae elit 
    //-         | libero, a pharetra augue.
    //-       p
    //-         | Nulla vitae elit libero, a pharetra augue. Curabitur blandit tempus 
    //-         | porttitor. Etiam porta sem malesuada magna mollis euismod. Etiam porta 
    //-         | sem malesuada magna mollis euismod.
    //-       a(href="#").btn View App

    //- section(data-hex="00a47a", id="vine").review.review--portrait.review--text--light.review--phone--light
    //-   .wrapper
    //-     .review__images
    //-       .review__image__wrapper
    //-         ul.slides
    //-     .review__desc
    //-       h2 Vine
    //-       p
    //-         | Nullam quis risus eget urna mollis ornare vel eu leo varius blandit sit 
    //-         | amet non magna. Curabitur blandit tempus porttitor. Vitae elit mollis
    //-         | libero, a pharetra augue.
    //-       p
    //-         | Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. 
    //-         | Nullam quis risus eget urna mollis ornare vel eu leo. Nullam quis risus 
    //-         | eget urna mollis ornare vel eu leo. Etiam porta sem malesuada magna mollis 
    //-         | euismod. Fusce dapibus, tellus ac cursus commodo.
    //-       a(href="#").btn View App

    section(data-hex="D52D39", id="pudding-monsters").review.review--portrait.review--text--light.review--phone--light
      .wrapper
        .review__images
          .review__image__wrapper
            ul.slides
              li
                img(src="/imgs/pudding-monsters/pudding-monsters-1.jpg")
              li
                img(src="/imgs/pudding-monsters/pudding-monsters-2.jpg")
              li
                img(src="/imgs/pudding-monsters/pudding-monsters-3.jpg")
        .review__desc
          h2 Pudding Monsters
          p
            | Creating a follow up up to the classic Cut The Rope game is no easy feat, 
            | however Zepto seem to taken it in their stride here and have created another 
            | classic.
          p
            | The great illustration and animation you would expect has been packed together 
            | with varying game play through a collection of worlds each bringing a new 
            | power of its own.
          a(href="http://www.puddingmonsters.com/").btn View app

    section(data-hex="0E91A0", id="lumosity").review.review--portrait.review--text--light.review--phone--dark
      .wrapper
        .review__images
          .review__image__wrapper
            ul.slides
              li
                img(src="/imgs/lumosity/lumosity-1.jpg")
              li
                img(src="/imgs/lumosity/lumosity-2.jpg")
              li
                img(src="/imgs/lumosity/lumosity-3.jpg")
              li
                img(src="/imgs/lumosity/lumosity-4.jpg")
        .review__desc
          h2 Lumosity
          p
            | Lumosity is very polished brain training game thats aims to improve your 
            | mental ability through a variety of different mental tasks.
          p
            | This game does offer absorbing and engaging gameplay that will keep you 
            | coming back again and again.
          a(href="https://itunes.apple.com/gb/app/lumosity-mobile/id577232024?mt=8").btn View App



    section(data-hex="92DA2B", id="duolingo").review.review--portrait.review--text--dark.review--phone--dark
      .wrapper
        .review__images
          .review__image__wrapper
            ul.slides
              li
                img(src="/imgs/duolingo/duolingo-1.jpg")
              li
                img(src="/imgs/duolingo/duolingo-2.jpg")
              li
                img(src="/imgs/duolingo/duolingo-3.jpg")
              li
                img(src="/imgs/duolingo/duolingo-4.jpg")
        .review__desc
          h2 Duolingo
          p
            | Offering free courses in Spanish, English, French, German, Portuguese, Italian. Duolingo creates a gamified
            | experience for learning that language you always told yourself you'd learn. Duolingo incorporates speaking, 
            | writing and listening for a well rounded learning experience.
          a(href="https://itunes.apple.com/gb/app/duolingo-learn-languages-for/id570060128?mt=8").btn View App


    section(data-hex="b38fc3", id="thinglist").review.review--portrait.review--text--light.review--phone--light
      .wrapper
        .review__images
          .review__image__wrapper
            ul.slides
              li
                img(src="/imgs/thinglist/thinglist-1.png")
              li
                img(src="/imgs/thinglist/thinglist-2.png")
              li
                img(src="/imgs/thinglist/thinglist-3.png")
        .review__desc
          h2 Thing List
          p
            | Built by the ever admirable 
            a(href="http://www.elepath.com/") Elepath. 
            | Thinglist is a todo list app focused around categories, to quickly take notes 
            | when someone mentions something of interest in conversation whether thats 
            | "A strange new restaurant. A book with a nice cover. A far-out dancer."
          p
            | A simple layout aids a very enjoy experience and while it lacks more advanced 
            | features, I've never found myself to notice.
          a(href="http://getthinglist.com/").btn View App



    //- section(data-hex="92c888", id="tipulator").review.review--portrait.review--text--light.review--phone--dark
    //-   .wrapper
    //-     .review__images
    //-       .review__image__wrapper
    //-         ul.slides
    //-           li
    //-             img(src="/imgs/tipulator/tipulator-1.jpg")
    //-           li
    //-             img(src="/imgs/tipulator/tipulator-2.jpg")
    //-           li
    //-             img(src="/imgs/tipulator/tipulator-3.jpg")
    //-           li
    //-             img(src="/imgs/tipulator/tipulator-4.jpg")
    //-     .review__desc
    //-       h2 Tipulator
    //-       p
    //-         | 


    section(data-hex="fcfc02", id="rechner").review.review--portrait.review--text--dark.review--phone--dark
      .wrapper
        .review__images
          .review__image__wrapper
            ul.slides
              li
                img(src="/imgs/rechner/rechner-1.jpg")
              li
                img(src="/imgs/rechner/rechner-2.jpg")
              li
                img(src="/imgs/rechner/rechner-3.jpg")
        .review__desc
          h2 Rechner
          p
            | Touted as "the world's first gesture based calculator" Rechner uses 
            | swipe gestures to trigger mathematical operations. Swipe left for 
            | addition, right for subtraction.
          p
            | Designed by 
            a(href="http://bergerfohr.com/") Berger & Föhr, 
            | Recher's design is striped back when compared to the default IOS 
            | calculator and utalises a swipe draw for holding more complicated 
            | operations.

    //- section(data-hex="F0EFEC", id="letterpress").review.review--portrait.review--text--dark.review--phone--dark
    //-   .wrapper
    //-     .review__images
    //-       .review__image__wrapper
    //-         ul.slides
    //-           li
    //-             img(src="/imgs/letterpress/1.png")
    //-           li
    //-             img(src="/imgs/letterpress/2.png")
    //-           li
    //-             img(src="/imgs/letterpress/3.png")
    //-     .review__desc
    //-       h2 Letterpress

    //- section(data-hex="008FD5", id="rdio").review.review--portrait.review--text--light.review--phone--dark
    //-   .wrapper
    //-     .review__images
    //-       .review__image__wrapper
    //-         ul.slides
    //-           li
    //-             img(src="/imgs/rdio/1.png")
    //-           li
    //-             img(src="/imgs/rdio/2.png")
    //-     .review__desc
    //-       h2 Rdio

    //- section(data-hex="87C442", id="kickstarter").review.review--portrait.review--text--light.review--phone--dark
    //-   .wrapper
    //-     .review__images
    //-       .review__image__wrapper
    //-         ul.slides
    //-           li
    //-             img(src="/imgs/kickstarter/kickstarter-1.jpg")
    //-           li
    //-             img(src="/imgs/kickstarter/kickstarter-2.jpg")
    //-           li
    //-             img(src="/imgs/kickstarter/kickstarter-3.jpg")
    //-           li
    //-             img(src="/imgs/kickstarter/kickstarter-4.jpg")
    //-     .review__desc
    //-       h2 Kickstarter
    //-       p
    //-         | A very clean and well thought out mobile version of Kickstarter's 
    //-         | site

    //- section(data-hex="000000", id="svpply").review.review--portrait.review--text--light.review--phone--light
    //-   .wrapper
    //-     .review__images
    //-       .review__image__wrapper
    //-         ul.slides
    //-           li
    //-             img(src="/imgs/svpply/svpply-1.jpg")
    //-           li
    //-             img(src="/imgs/svpply/svpply-2.jpg")
    //-           li
    //-             img(src="/imgs/svpply/svpply-3.jpg")
    //-           li
    //-             img(src="/imgs/svpply/svpply-4.jpg")
    //-     .review__desc
    //-       h2 Svpply
    //-       p
    //-         | 


    //- section(data-hex="008FD5", id="tiny-wings").review.review--landscape.review--text--light.review--phone--light
    //-   .wrapper
    //-     .review__images
    //-       .review__image__wrapper
    //-         ul.slides
    //-           li
    //-             img(src="/imgs/tiny-wings/IMG_1452.PNG")
    //-           li
    //-             img(src="/imgs/tiny-wings/IMG_1455.PNG")
    //-           li
    //-             img(src="/imgs/tiny-wings/IMG_1457.PNG")
    //-     .review__desc
    //-       h2 Tiny Wings

    //- section(data-hex="8cbaff", id="dots").review.review--portrait.review--text--light.review--phone--light
    //-   .wrapper
    //-     .review__images
    //-       .review__image__wrapper
    //-         ul.slides
    //-           li
    //-             img(src="/imgs/dots/dots-1.jpg")
    //-           li
    //-             img(src="/imgs/dots/dots-2.jpg")
    //-     .review__desc
    //-       h2 Dots

    //- section(data-hex="86ad46", id="tall-chess").review.review--portrait.review--text--light.review--phone--light
    //-   .wrapper
    //-     .review__images
    //-       .review__image__wrapper
    //-         ul.slides
    //-           li
    //-             img(src="/imgs/tall-chess/2.PNG")
    //-           li
    //-             img(src="/imgs/tall-chess/1.PNG")
    //-     .review__desc
    //-       h2 Tall Chess

    //- section.submit
    //-   .wrapper
    //-     h1 Submit your app
    //-     form
    //-       input(type="text", placeholder="URL of app store")
    //-       input(type="text", placeholder="Redem Code")
    //-       a.btn Submit
    //-     small All submisions are subject to approval

    //- section.tags
    //-   .wrapper
    //-     h1 Tags
    //-     ul
    //-       li
    //-         a(href="#") Games
    //-       li
    //-         a(href="#") Weather
    //-       li
    //-         a(href="#") Social
    //-       li
    //-         a(href="#") Business
    //-       li
    //-         a(href="#") Free
    //-       li
    //-         a(href="#") Education